vendor
node_modules
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
storage/app/public/*
.git
.gitignore
.env
.env.*
!.env.example
!.env.docker
Dockerfile*
docker-compose*.yml
README.md
phpunit.xml
tests
